/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 25px;
  margin: 2em;
    background-color: #269;
  background-image:
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

h1 {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  
}

h2 {
  text-align: center;
  margin-bottom: 0px;
  color: white;
  background-color: rgba(0, 0, 0, .75);
}

.kinlogo {
  display: block;
  margin-left: 0;
  margin-right: auto;
  background-color: rgba(255, 255, 255, .7);
  padding: 0.5em;
}

p {
  color: lightgrey;
  background-color: rgba(0, 0, 0, .75);
  margin-top: 0px;
  padding-bottom: 2em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
